@charset "UTF-8";
/*! =========================================================
 *
 * Общие стили
 *
 * Copyright 2018 %REACT_APP_NAME% %REACT_APP_VERSION%
 * ========================================================= */
/* Замена желстой подсветки автозаполненных полей в Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; }
