...
<meta
$$val(name)
 — купить
...
зорах
...
cla
...
"url"
$$list(pics)
"/>
...
n-gallery
...
lala
$$map(feat).key
tratra
...
lala
$$map(feat).val
tratra
...
lala
$$multiMap(feat).val
tratra
...
summary
...