...
<meta
$$val(name)
 — купить
...
зорах
...
cla
...
"url"
$$list(pics)
"/>
...
"url"
$$list(rococo)
"bumbara" pac="
$$list(rococo)
"/>
...
n-gallery
...
<tratra/>
lala>
$$map(feat).key
tratra
...
lala
$$map(feat).val
tratra
...
lala
$$table(feat).val
tratra
...
summary
...