...
ap__title">Подробные характеристики
...
e-inner">Цвет
...
<div class="product-color-set">
...
title="
$$list(colors)
">
...
</span>
...
<div class="n-product-spec-wrap__body">
...
<h2 class="title title_size_18">
$$table(features).col
<
...
<span class="n-product-spec__name-inner">
$$table(features).key
<
...
<span class="n-product-spec__value-inner">
$$table(features).val
<
...
<div class="n-product-specs__warnings">
...
<div class="n-product-video n-product-video_type_mini n-product-video i-bem" data-bem="{"n-product-video":{"modelid":13890612,"hid":90796,"page":"SPEC","video-info":[{"host":"youtube.com","url":"
$$val(video)
"
...