...
ap__title">Подробные характеристики
...
e-inner">Цвет
...
<div class="product-color-set">
...
title="
$$list(colors)
">
...
</span>
...
<div class="n-product-spec-wrap__body">
...
<h2 class="title title_size_18">
$$multiMap(features).col
<
...
<span class="n-product-spec__name-inner">
$$multiMap(features).key
<
...
<span class="n-product-spec__value-inner">
$$multiMap(features).val
<
...
<div class="n-product-specs__warnings">
...