...
<meta name="description" content="
$$val(name)
 — купить сегодня
...
зорах, видео и обсуждениях."/>
<link rel="shortcut icon" href="//yastatic.net/market-export/_/i/favicon.ico"/>
...
n-product-content-block__title">Коротко о товаре
...
<li class="n-product-spec-list__item n-product-spec-list__item_type_friendly">
$$list(description)
</li>
...
<a class="n-product-summary
...