<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%green(%d{HH:mm:ss.SSS}) %highlight(%p) %yellow(%t) %gray(%mdc[%c{3}]) %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="ru.rich.webparser" level="TRACE"/>

    <!-- Убираем варнинг Invalid cookie header: "Set-Cookie: visits ... -->
    <logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>