/*! =========================================================
 *
 * Общие стили
 *
 * Copyright %REACT_APP_NAME% %REACT_APP_VERSION%
 * ========================================================= */

/* Замена желстой подсветки автозаполненных полей в Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #495057 !important;
}

.redShadow {
  box-shadow: 0 0 3pt 2pt red;
}

.errMessBox {
  padding: 14px;
  margin: 0;
  text-align: center;
  line-height: 12px;
}

.errMess {
  font-size: 10px;
  color: red;
}
